@using NETCORE_Lesson01_MVC.Models;
@*

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "List Product";
    List<Product> products = ViewData["Products"] as List<Product>;
}
<h2>List Product</h2>

<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Mô tả</th>
            <th>Giá</th>
        </tr>
    </thead>

    @foreach (var product in products)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Price</td>
        </tr>
    }

</table>
